@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  outline: none;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  z-index: 100;
}

html {
  font-size: 62, 5%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: #fff;
  user-select: none;
}

header {
  margin-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Logo {
  font-size: 4rem;
  top: 0;
  justify-content: flex-end;
  color: transparent;
  background-color: #fff;
  background-clip: text;
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-background-clip: text;
  font-weight: 1000;
  cursor: pointer;
  transition: transform 0.5s ease;
  font-style: italic;
  margin-right: 10%;
  margin-top: -3%;
}
.Logo:hover {
  transform: scale(1, 1);
}

nav a {
  font-size: 1.8rem;
  color: #fff;
  margin-left: 4rem;
  font-weight: 500;
  transition: transform 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
  color: rgb(224, 65, 65);
  border-bottom: 3px solid rgb(215, 120, 120);
}

.menu-toggle {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 130px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 55%;
  background-color: transparent;
  border-right: 3px solid brown;
  border-bottom: 3px solid #b74b4b;
  border-bottom-left-radius: 2rem;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.9s ease;
}

.sidebar a {
  color: #d8d3d3;
  text-decoration: none;
  font-family: "Noto serif";
  font-size: 25px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  margin-top: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar {
  width: 90%;
  max-width: 220px;
  transform: translateX(-100%);
  /* border-radius: 3rem; */
}
.sidebar.open {
  transform: translateX(-25%);
  /* border-radius: 3rem; */
}
.menu-toggle {
  transform: translateX(100%);
}
@media (max-width: 995px) {
  .menu-toggle {
    display: block;
    justify-content: left;
    margin-left: 8%;
  }

  .sidebar {
    width: 35%;
    height: 45%;
    transform: translateX(-200%);
  }

  .sidebar a {
    font-size: 15px;
  }

  .sidebar.open {
    transform: translateX(-49%);
    border-bottom-right-radius: 2rem;
  }
  .Logo {
    font-size: 1rem;
    justify-content: flex-end;
    margin-right: 50px;
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
  position: relative;
  z-index: 1;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-bottom: 10px;
}

.home-content h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  color: transparent;
  background: rgb(2, 0, 36);
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  background-clip: text;
  -webkit-background-clip: text;
}

.home-content span {
  font-size: 3rem;
}
span.name {
  color: transparent;
  background-clip: text;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

span {
  color: #b74b4b;
}

.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid #b74b4b;
  cursor: pointer;
  transition: 0.2s linear;
  border: 10px double blue;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
  box-shadow: 0 0 25px wheat;
  transform: scale(1.1, 1.1);
  transition: transform 1s ease;
  border: 10px double blue;
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 0.2rem solid #b74b4b;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: transform 0.5s ease;
}

.fa-youtube {
  color: red;
  background-color: #fff;
  border-radius: 35%;
}

.fa-facebook {
  color: blue;
  background-color: #fff;
  border-radius: 49%;
}

.fa-github {
  color: rgb(224, 224, 224);
}

.social-icon a:hover {
  background-color: transparent;
  transform: scale(1.1);
  box-shadow: 0 0 25px white;
}

.btn {
  display: inline-block;
  color: #000000;
  border: 2px solid #b74b4b;
  border-radius: 4rem;
  padding: 1rem 2.8rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: monospace;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
  transform: scale3d(1.1);
  box-shadow: 0 0 25px white;
}

.typing-test {
  font-size: 10px;
  font-weight: 300;
  min-width: 280px;
}

.typing-test span {
  position: relative;
}

.typing-test span::before {
  content: " SOFTWARE DEVELOPER";
  color: #b74b4b;
  animation: words 5s linear infinite;
}
.typing-test span::after {
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100%+8px);
  height: 5.5rem;
  border-left: 3px solid black;
  right: -8px;
  animation: cursor 0.6s infinite;
}

.home-content p {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@keyframes cursor {
  to {
    border-left: 3px solid;
  }
}

@keyframes words {
  0%,
  40% {
    content: " CODER PYTHON";
  }
  41%,
  70% {
    content: " CODER JAVASCRIPT";
  }
  71%,
  99% {
    content: " CODER C/C++";
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 3rem 4rem;
  }
  .home.home-content h3 {
    font-size: 1.5rem;
  }
  .home-content h1 {
    font-size: 2rem;
    text-align: center;
  }
  .home-img img {
    width: 45vh;
    margin-top: 3rem;
    justify-content: center;
  }
  .typing-test {
    text-align: center;
  }
  .btn {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .Logo {
    font-size: 150%;
  }
}
.bgVideo {
  position: fixed;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
  filter: brightness(0.4);
  object-fit: cover;
  overflow: hidden;
}
.lockscreen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  margin-right: 2%;
  margin-top: 5%;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  border: 3px solid #b74b4b;
  color: transparent;
  background-color: #fff;
  background-clip: text;
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-background-clip: text;
  transition: transform 3s blur();
}
